<div class="card"
     class="mat-elevation-z3 bg-white">
  <div class="card-header"><i class="fas fa-school"></i> Mutuelles de santés</div>
  <div class="card-body">


    <div class="d-flex align-items-center justify-content-between">
      <h5 class="my-3"><i class="fas fa-list"></i> Liste des mutuelles de santé</h5>
      <button class="btn btn-sm btn-success"
              [routerLink]="['./']"
              [fragment]="'add-mutuelles'"><i class="fas fa-plus"></i> Ajouter</button>

    </div>

    <app-mutuelles-list (tableEvent)="onTableEvent($event)"></app-mutuelles-list>





    <app-modal [configuration]="{ name: 'mutuelles-create-modal', titre: 'Ajouter une mutuelle de santé', icone:'plus', taille: 'lg' }"
               (closed)="helper.navigation.deleteFragmentFromUrl()">
      <app-mutuelles-create (create)="onCreated()"></app-mutuelles-create>
    </app-modal>


    <app-modal [configuration]="{ name: 'mutuelles-edit-modal', titre: 'Modifier les details de la mutuelle de santé', icone:'edit', taille: 'lg' }"
               (closed)="helper.navigation.deleteFragmentFromUrl()">
      <app-mutuelles-edit (edited)="onEdited()"></app-mutuelles-edit>
    </app-modal>


  </div>
</div>
