<div class="card"
     class="mat-elevation-z3 bg-white">
  <div class="card-header"><i class="fas fa-money-check-alt"></i> Enregistrement couts</div>
  <div class="card-body">


    <div class="d-flex align-items-center justify-content-between">
      <h5 class="my-3"><i class="fas fa-list"></i> Liste des enregistrements</h5>
      <div>
        <app-csv-parser (data)="onParsedDataFromCsv($event)"></app-csv-parser>
        <button class="btn btn-sm btn-primary mr-2"
                (click)="downloadDataAsCsv()"><i class="fas fa-file-csv"></i> Export CSV</button>
        <button class="btn btn-sm btn-success"
                [routerLink]="['./']"
                [fragment]="'add-enregistrement-couts'"><i class="fas fa-plus"></i> Ajouter</button>
      </div>


    </div>
    <div class="scroll-11">
      <div class="smart-table-container"
           style="width: 1700px;">
        <app-enregistrement-couts-list (tableEvent)="onTableEvent($event)"></app-enregistrement-couts-list>
      </div>
    </div>







    <app-modal [configuration]="{ name: 'enregistrement-couts-create-modal', titre: 'Ajouter un nouvel enregistrement', icone:'plus', taille: 'lg' }"
               (closed)="helper.navigation.deleteFragmentFromUrl()">
      <app-enregistrement-couts-create (create)="onCreated()"></app-enregistrement-couts-create>
    </app-modal>

    <app-modal [configuration]="{ name: 'e', titre: 'Voir les détails de l\'enregistrement', icone:'plus', taille: 'lg' }"
               (closed)="helper.navigation.deleteFragmentFromUrl()">
      <router-outlet></router-outlet>
    </app-modal>


    <app-modal [configuration]="{ name: 'enregistrement-couts-edit-modal', titre: 'Modifier les details de l\'enregistrement', icone:'edit', taille: 'lg' }"
               (closed)="helper.navigation.deleteFragmentFromUrl()">
      <app-enregistrement-couts-edit (edited)="onEdited()"></app-enregistrement-couts-edit>
    </app-modal>


  </div>
</div>
