<form [formGroup]="form"
      *ngIf="single"
      (submit)="update()">
  <div class="row">
    <!-- Nombre homme -->
    <div class="col-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Libelle</label>
        <input type="text"
               formControlName="libelle"
               class="form-control">
      </div>
    </div>

    <!-- region -->
    <div class="col-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Région</label>
        <angular2-multiselect [data]="regionService.data"
                              (click)="getRegions()"
                              [settings]="helper.dropdownSettings.single"
                              formControlName="region"
                              class=" ">
        </angular2-multiselect>

      </div>
    </div>


    <div class="col-12 text-right">
      <button class="btn btn-sm btn-success mr-1"
              type="submit"
              [disabled]="form.invalid">
        <i class="fad fa-circle-notch fa-spin"
           *ngIf="loading"></i>
        Valider
      </button>
    </div>
  </div>
</form>
