<div class="container">

  <p class="text-center">
    <img src="assets/img/unamusc.PNG"
         class="logo"
         alt="">
  </p>
  <div class="card o-hidden  border-0 shadow-lg "
       style="margin-top: 40px;">
    <div class="card-body p-5">
      <!-- Nested Row within Card Body -->
      <div class="h-100 d-flex flex-column align-items-center justify-content-center position-relative">
        <div class="mb-2"><i class="fas fa-times-circle text-success fa-7x"></i></div>
        <h1>Lien Introuvable</h1>
        <p class=""
           style="font-size: 18px;">le lien est <span class="font-weight-bolder text-success">invalide ou est expiré.</span></p>

      </div>
    </div>
  </div>

</div>
<!--  -->
